* {
    color: white;
    margin: 5px;
}

html {
    margin: 0;
}

body {
    margin: 0;
    border: 1px solid white;
    background-color: black;
}

.no-margin {
    margin: 0;
}

.draggable-area {
    -webkit-app-region: drag;
}

.fill {
    width: 100%;
    height: 100%;
}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.top-right {
    position: absolute;
    top: 1%;
    right: 1%;
}

button,
input,
span {
    outline: none;
    border: none;
    background-color: black;
    -webkit-app-region: no-drag;
}

input {
    text-align: center;
    max-width: 150px;
    overflow: hidden;
}

button.round {
    border-radius: 50%;
    width: 25px;
    height: 25px;
}

button.exit {
    background-color: gray;
}

button.click {
    margin-top: 20px;
    margin-bottom: 20px;
    background:transparent;
    cursor:pointer;
    border: 2px solid white;
    color: white;
    height: 130px;
    width: 130px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    text-transform: uppercase;
    font-family: 'Muli-LightItalic', Helvetica;
    font-size: 20px;
    line-height: 30px;
    animation: ripple 1.5s linear infinite;
    transition: all 0.7s ease;
}

button:hover {
    transform: scale(1.1);
}

button.click:focus {
    outline: none;
}

@keyframes ripple {
    0% {
        box-shadow: 0 0 0 0 rgba(50, 50, 60, 0.3),
            0 0 0 1px rgba(50, 50, 60, 0.3),
            0 0 0 3px rgba(50, 50, 60, 0.3),
            0 0 0 5px rgba(50, 50, 60, 0.3)
    }

    100% {
        box-shadow: 0 0 0 0 rgba(50, 50, 60, 0.3),
            0 0 0 4px rgba(50, 50, 60, 0.3),
            0 0 0 20px rgba(50, 50, 60, 0),
            0 0 0 30px rgba(50, 50, 60, 0)
    }
}